*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
.container{
	display: flex;
	flex-direction: row;
	height: 100%;
}
.box1{
	flex: 3;
	height: 100%;
	background: #8888;
}
.box2{
	flex: 7;
	height: 100%;
	background: #888;
}