*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
/*float+margin实现*/
.container{
	height: 100%;
}

.box1{
	background: #8888;
	float: left;
	width: 30%;
	height: 100%;
}

.box2{
	background: #888;
	margin-left: 30%;
	height: 100%;
}